@font-face {
    font-family: weather;
    src: url(Gaegu-Regular.ttf);
}
  
body * {
    font-family: weather;
}

.icon {
    height: 75px;
    transform: translateY(-6px);
}

.navbar-brand {
    border: 1px solid rgb(163, 82, 102);
    background-color: rgb(247, 195, 198);
    color: rgb(163, 82, 102);
    -webkit-text-stroke: 0.4px rgb(163, 82, 102);
    border-radius: 20px;
    font-size: 2.1em;
    font-weight: bolder;
}

.search {
    border-radius: 20px;
    font-size: 2em;
}

.btn {
    background-color: rgb(255, 156, 173);
    color: white;
    border: 0.5px solid rgba(117, 117, 117, 0.5);
}

.btn:hover {
    background-color: rgb(183, 211, 255);
    color: rgb(255, 237, 189);
    border: 1px solid rgb(255, 255, 255);
}

.container-fluid {
    background-color: rgb(255, 194, 208);
    /*background: repeating-linear-gradient(
        135deg, rgb(255, 186, 202) 0px, rgb(255, 186, 202) 50px, rgb(255, 167, 187) 50px, rgb(255, 167, 187) 100px);
    background: repeating-linear-gradient(
        135deg, rgb(218, 231, 255) 0px, rgb(218, 231, 255) 50px, rgb(255, 255, 255) 50px, rgb(255, 255, 255) 100px);
    */min-height: 100vh;
    max-height: fit-content;
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid rgb(255, 154, 177);
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(163, 82, 102);
    background-color: rgb(255, 213, 220);
    box-shadow: 10px 10px 5px rgba(111, 93, 96, 0.434);
    border-radius: 20px;
    max-width: fit-content;
    padding: 20px;

}

.weatherimg {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.desc-temp, .locate-sky {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}

.locate-sky {
    align-items: center;
    padding: 20px;
}

.locate {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
}

.sky img {
    height: 200px;
}

.desc-temp {
    margin-left: 20px;
}

.details {
    align-self: flex-start;
    display: flex;
    justify-content: space-around;
    text-align: left;
    flex-flow: column wrap;
    margin-left: 25px;
}

.row3 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.today {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

.today .weatherimg {
    margin: 20px;
    border: 2px solid rgb(163, 82, 102);
    background-color: rgb(255, 213, 220);
    border-radius: 20px;
    width: 250px;
    box-shadow: 8px 8px 5px rgba(111, 93, 96, 0.426);
}

.today div img {
    height: 100px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {

    .main {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {

    .main {
        width: 80%;
    }

    
}

@media screen and (max-width: 750px) {

    .today div img {
        height: 70px;
    }

    .icon {
        height: 60px;
        transform: translateY(-3px);
    }

    .navbar-brand {
        font-size: 1.5em;
    }

    .search {
        font-size: 1.2em;
    }

    .container-fluid {
        width: 100%;
        flex-direction: column;
    }

    .main {
        width: 100%;
        flex-direction: column;
        margin: 0;
        box-shadow: 5px 5px 2.5px rgba(111, 93, 96, 0.44);
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    .sky img {
        height: 100px;
    }

    .sky {
        flex-direction: column-reverse;
    }

    .desc-temp, .locate-sky {
        margin: 0;
        width: 100%;
        align-items: center;
    }

    .today .weatherimg {
        box-shadow: 5px 5px 2.5px rgba(111, 93, 96, 0.3);
        width: 180px;
    }

    /*.details {
        align-self: center;
        text-align: center;
        margin-left: 0;
    }*/
}